RELEASE_ID=20260813-000000
APP_IMAGE=crpi-3r93ak2ft29pxf1q.cn-wulanchabu.personal.cr.aliyuncs.com/modest_yy/happy-agent-app:${RELEASE_ID}
WEB_IMAGE=crpi-3r93ak2ft29pxf1q.cn-wulanchabu.personal.cr.aliyuncs.com/modest_yy/happy-agent-web:${RELEASE_ID}
POSTGRES_IMAGE=crpi-3r93ak2ft29pxf1q.cn-wulanchabu.personal.cr.aliyuncs.com/modest_yy/happy-agent-postgres:${RELEASE_ID}
APP_JAR_PATH=starter/target/starter-0.0.1-SNAPSHOT-exec.jar
WEB_DIST_PATH=frontend/dist
